<template>
</template>
<script>
export default {
  mounted () {
    this.$store.dispatch('account/logout').then((response) => {
      return this.$router.push('login')
    }).catch(() => {
      return this.$router.push('login')
    })
  }
}
</script>