<template>
  <b-row>
    <b-col md="12">
      <card class="stacked-form">
        <l-progress v-if="isLoading" :value="100" :height="20" class="mb-2" type="info" :animated="true" :striped="true"></l-progress>
         <div class="row">
           <div class="col-md-6">
              <div>
                <fg-input label="Name">
                  <p>{{model.name !== null ? model.name : '-'}}</p>
                </fg-input>
                <fg-input label="Date Of Birth">
                  <p>{{model.dob !== null ? model.dob : '-'}}</p>
                </fg-input>
                <!-- <fg-input label="Gender">
                  <p>{{model.gender}}</p>
                </fg-input> -->
                <fg-input label="Email">
                  <p>{{model.email !== null ? model.email : '-'}}</p>
                </fg-input>
                <fg-input label="Address">
                  <p>{{model.address !== null ? model.address : '-'}}</p>
                </fg-input>
                <fg-input label="City">
                  <p>{{model.city !== null ? model.city : '-'}}</p>
                </fg-input>
                <!-- <fg-input label="Province">
                  <p>{{model.province !== null ? model.province : '-'}}</p>
                </fg-input> -->
                <fg-input label="State">
                  <p>{{model.state !== null ? model.state : '-'}}</p>
                </fg-input>
                <fg-input label="Postal Code">
                  <p>{{model.postalCode !== null ? model.postalCode : '-'}}</p>
                </fg-input>
                <fg-input label="Active">
                  <p><l-switch :width="30" v-model="model.isActive" type="primary" :active-value="1" :inactive-value="0" @change="changeSwitch('isActive', 'Available',  model.isActive)"></l-switch></p>
                </fg-input>
              </div>
           </div>
           <div class="col-md-6">
            <fg-input label="QR Code"><br>
              <img :src="model.get_qr_code !== null ? model.get_qr_code.path : 'static/img/app-icons/no-image.png'" width="200">
              <p>{{model.get_qr_code !== null ? '' : 'QR Code Tidak Tersedia'}}</p>
            </fg-input>
           </div>
         </div>
        <edit-button/>
        <back-button/>
      </card>
    </b-col>
  </b-row>
</template>

<script>
  import {Switch} from 'element-ui'
  import {Progress as LProgress} from 'src/components/index'
  import Edit from '@/components/Buttons/Edit'
  import Back from '@/components/Buttons/Back'

  export default {
    components: {
      LProgress,
      EditButton: Edit,
      BackButton: Back,
      LSwitch: Switch
    },
    data () {
      return {
        isLoading: false,
        apiUrl: {
          profile: window.AppConfig.apiUrl + 'profile'
        },
        model: {
          name: '',
          dob: '',
          gender: 'male',
          email: '',
          address: '',
          city: '',
          province: '',
          state: '',
          postalCode: '',
          isActive: 1,
          get_qr_code: ''
        }
      }
    },
    watch: {
      '$route.params.uuid': function (val) {
        this.getDetail()
      }
    },
    mounted () {
      this.getDetail()
    },
    methods: {
      getDetail () {
        this.isLoading = true
        this.$http.get(this.apiUrl.profile + '/' + this.$route.params.id)
        .then(response => {
          this.model.name = response.data.name
          this.model.dob = response.data.dob
          this.model.gender = response.data.gender
          this.model.email = response.data.email
          this.model.address = response.data.address
          this.model.city = response.data.city
          this.model.province = response.data.province
          this.model.state = response.data.state
          this.model.postalCode = response.data.postalCode
          this.model.get_qr_code = response.data.get_qr_code
          this.model.isActive = response.data.isActive ? 1 : 0
          this.isLoading = false
        })
        .catch(error => {
          this.isLoading = false
          this.$store.dispatch('notification/error', error)
          // this.$router.push('/notfound')
        })
      },
      changeSwitch (prop, label, value) {
        this.$swal({
          title: 'Are you sure?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          confirmButtonClass: 'btn btn-warning mr-3',
          cancelButtonClass: 'btn btn-default',
          buttonsStyling: false
        }).then(result => {
          if (result.value) {
            let data = {}
            data[prop] = value
            data['uuid'] = this.$route.params.uuid
            this.$http.put(window.AppConfig.apiUrl + 'profile' + '/' + this.$route.params.id, data)
            .then(response => {
              this.$store.dispatch('notification/success', label + ' Successfully updated.')
            })
            .catch(error => {
              this.$store.dispatch('notification/error', error)
              this.model[prop] = value ? 0 : 1
            })
          } else {
            this.model[prop] = value ? 0 : 1
          }
        })
      }
    }
  }
</script>
