<template>
  <div id="show-hospital">
    <b-row>
      <b-col md="6">
        <card class="stacked-form">
          <l-progress v-if="isLoading" :value="100" :height="20" class="mb-2" type="info" :animated="true" :striped="true"></l-progress>
          <form v-on:submit.prevent="doSubmit">
            <fg-input :required="true" for-input="currentPassword" type="password" name="currentPassword" id="currentPassword" label="Current Password" placeholder="Enter Current Password" v-validate="modelValidations.currentPassword" :error="errors.first('currentPassword')" v-model="model.currentPassword" data-vv-as="current password"/>
            <div class="form-group" v-bind:class="{ 'has-error': errors.first('password') }">
              <label>Password *</label>
              <input
                class="form-control"
                ref="confirmed:newPassword"
                type="password" name="newPassword" id="newPassword" label="newPassword" placeholder="Enter New Password" v-validate="modelValidations.newPassword" :error="errors.first('newPassword')" v-model="model.newPassword" data-vv-as="new password"
                aria-describedby="addon-right addon-left">
              <slot name="infoBlock"></slot>
              <slot name="helpBlock">
                <div class="text-danger invalid-feedback" style="display: block;" v-if="errors.first('newPassword')">
                  {{ errors.first('newPassword') }}
                </div>
              </slot>
            </div>
            <fg-input :required="true" for-input="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" label="Confirm Password" placeholder="Enter Confirm Password" v-validate="modelValidations.confirmPassword" :error="errors.first('confirmPassword')" v-model="model.confirmPassword" data-vv-as="confirm password"/>
            <div class="mt-5"></div>
            <save-data-button :disabled="saveButtonData.isLoading" :is-create="true" :state="saveButtonData.isLoading && saveButtonData.state === 1 ? 2 : saveButtonData.state" :is-loading="saveButtonData.isLoading"/>
            <back-button/>
          </form>
        </card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {Switch} from 'element-ui'
  import {Progress as LProgress} from 'src/components/index'
  import Back from '@/components/Buttons/Back'
  import SaveData from '@/components/Buttons/SaveData'

  export default {
    components: {
      SaveDataButton: SaveData,
      LProgress,
      BackButton: Back,
      LSwitch: Switch
    },
    data () {
      return {
        isLoading: false,
        saveButtonData: {
          isLoading: false,
          state: 1
        },
        dataAccount: this.$store.getters['account/accountData'],
        apiUrlChangePassword: window.AppConfig.apiUrl + 'change-password',
        model: {
          currentPassword: '',
          newPassword: '',
          confirmPassword: ''
        },
        modelValidations: {
          currentPassword: {
            required: true
          },
          newPassword: {
            required: true
          },
          confirmPassword: {
            required: true
          }
        }
      }
    },
    methods: {
      doSubmit () {
        this.$validator.validate().then(res => {
          if (res) {
            this.saveButtonData.isLoading = true
            this.$http.post(this.apiUrlChangePassword, this.model).then(response => {
              this.saveButtonData.isLoading = false
              this.$store.dispatch('notification/success', 'Password has been change.')
              window.location.href = document.URL.replace('/create', '/')
            }).catch(error => {
              this.saveButtonData.isLoading = false
              this.$store.dispatch('notification/error', error)
            })
          }
        })
      }
    }
  }
</script>
