<template>
  <div id="show-hospital">
    <b-row>
      <b-col md="6">
        <card class="stacked-form">
          <l-progress v-if="isLoading" :value="100" :height="20" class="mb-2" type="info" :animated="true" :striped="true"></l-progress>
          <div>
            <fg-input label="First Name">
              <p>{{ dataAccount.firstName }}</p>
            </fg-input>
            <fg-input label="Last Name">
              <p>{{ dataAccount.lastName }}</p>
            </fg-input>
            <fg-input label="Email">
              <p>{{ dataAccount.email }}</p>
            </fg-input>
            <fg-input label="Address">
              <p>{{ dataAccount.address !== null ? dataAccount.address : '-' }}</p>
            </fg-input>
            <fg-input label="City">
              <p>{{ dataAccount.city !== null ? dataAccount.city : '-' }}</p>
            </fg-input>
            <fg-input label="State">
              <p>{{ dataAccount.stat !== null ? dataAccount.stat : '-' }}</p>
            </fg-input>
            <fg-input label="Time Zone">
              <p>{{ dataAccount.timezone }}</p>
            </fg-input>
            <!-- <fg-input label="Active">
              <p><l-switch :width="30" v-model=" dataAccount.email .isActive" type="primary" :active-value="1" :inactive-value="0" @change="changeSwitch('isActive', 'Available', dataAccount.email .isActive)"></l-switch></p>
            </fg-input> -->
          </div>
          <div class="mt-5"></div>
          <b-button variant="primary" :href="'#/profile/change-password'"><font-awesome-icon icon="sync-alt"/> Change Pasword</b-button>
          <back-button/>
        </card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {Switch} from 'element-ui'
  import {Progress as LProgress} from 'src/components/index'
  import Edit from '@/components/Buttons/Edit'
  import Back from '@/components/Buttons/Back'

  export default {
    components: {
      LProgress,
      EditButton: Edit,
      BackButton: Back,
      LSwitch: Switch
    },
    data () {
      return {
        isLoading: false,
        dataAccount: this.$store.getters['account/accountData']
      }
    }
  }
</script>
