<template>
  <b-button variant="warning" type="button" class="float-right mr-3" v-bind:class="{ 'ml-3': isMarginLeft }" @click.prevent="onClick">Cancel</b-button>
</template>
<script>
  export default {
    props: {
      isMarginLeft: {
        type: Boolean,
        required: false,
        default: true
      }
    },
    methods: {
      onClick () {
        window.goBack(this)
      }
    }
  }
</script>
