<template>
  <b-button class="float-right" variant="primary" type="button" @click.prevent="onClick"><font-awesome-icon icon="pencil-alt"/> Edit</b-button>
</template>
<script>
  export default {
    methods: {
      onClick () {
        window.location.href = '#' + this.$route.path + '/edit'
      }
    }
  }
</script>
