<template>
  <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
    <side-bar logo="static/img/app-icons/logoPDM.png" :title="'PDM Smart School'">
      <mobile-menu></mobile-menu>
      <template slot-scope="props" slot="links"> <!-- eslint-disabled-line _.-->
        <sidebar-item :link="{name: 'Dashboard', icon: 'nc-icon nc-tv-2 icon-bold', path: '/dashboard'}">
        </sidebar-item>
        <sidebar-item :link="{name: 'SPP', icon: 'nc-icon nc-money-coins', path: '/spp'}" />
        <sidebar-item :link="{name: 'Absesnsi', icon: 'nc-icon nc-notes', path: '/absesnsi'}" />
        <sidebar-item :link="{name: 'Nilai', icon: 'nc-icon nc-ruler-pencil', path: '/spp'}" />
        <sidebar-item :link="{name: 'Laporan', icon: 'nc-icon nc-single-copy-04', path: '/spp'}" />
        <sidebar-item :link="{name: 'Pengaturan', icon: 'nc-icon nc-settings-gear-64'}">
          <sidebar-item :link="{name: 'Kesiswaan', path: '/settings/kesiswaan', icon: ['fa', 'school']}"></sidebar-item>
          <sidebar-item :link="{name: 'Broadcast', path: '/settings/broadcast', icon: ['fa', 'bullhorn']}"></sidebar-item>
          <sidebar-item :link="{name: 'Mata Pelajaran', path: '/settings/mata-pelajaran', icon: ['fa', 'book']}"></sidebar-item>
          <sidebar-item :link="{name: 'Ruang Kelas', path: '/settings/ruang-kelas', icon: ['fa', 'home']}"></sidebar-item>
          <sidebar-item :link="{name: 'Pengguna', path: '/settings/users', icon: ['fa', 'users']}"></sidebar-item>
          <sidebar-item :link="{name: 'Kalender Akademik', path: '/settings/kalender-akademik', icon: ['fa', 'calendar-alt']}"></sidebar-item>
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar ref="topNavBar" v-on:clickNotification="readNotification" v-on:openAllNotification="openNotificationSideWindow" v-on:closeAllNotification="closeNotificationSideWindow"></top-navbar>
      <dashboard-content @click.native="toggleSidebar">
      </dashboard-content>
    </div>
    <side-notification ref="sideNotification" @click="readNotification"/>
  </div>
</template>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './Extra/MobileMenu.vue'
  import SideNotification from './Notifications/Side.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu,
      SideNotification
    },
    mounted () {
      // if (typeof this.$route.query.notification_uuid !== 'undefined') {
      //   this.readNotification(this.$route.query.notification_uuid)
      // }
      // if (this.$store.getters['account/firebaseMessaging'] !== null) {
      //   this.$store.getters['account/firebaseMessaging'].onMessage((message) => {
      //     this.$store.dispatch('notification/firebase', {
      //       title: message.data.title,
      //       message: message.data.body,
      //       // link: this.generateUrlNotification(message.data.uuid, message.datatype),
      //       afterClick: () => {
      //         this.readNotification(message.data.notificationUuid)
      //         this.$router.push(this.generateUrlNotification(message.data.uuid, message.datatype))
      //       }
      //     })
      //   })
      // }
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      },
      openNotificationSideWindow () {
        this.$refs.sideNotification.open()
      },
      closeNotificationSideWindow () {
        this.$refs.sideNotification.close()
      },
      generateUrlNotification (uuid, type) {
        if (type !== 'browserNotif') {
          return '/orders/' + uuid
          // if (type === 'ServiceOrder') {
          //   return '#/orders/' + uuid
          // }
        }
      },
      readNotification (notificationUuid) {
        this.$http.patch(window.AppConfig.apiUrl + 'notification/' + notificationUuid, {unread: 0}).then(() => {
          this.$refs.topNavBar.getNotificationList()
          this.$refs.sideNotification.setRead(notificationUuid)
        })
      }
    }
  }

</script>
<style lang="scss">
  .sidebar { 
    .logo {
      .simple-text {
        font-size: 17px !important;
      }
    }
  }
  .vue-notifyjs.notifications{
    .list-move {
      transition: transform 0.3s, opacity 0.4s;
    }
    .list-item {
      display: inline-block;
      margin-right: 10px;

    }
    .list-enter-active {
      transition: transform 0.2s ease-in, opacity 0.4s ease-in;
    }
    .list-leave-active {
      transition: transform 1s ease-out, opacity 0.4s ease-out;
    }

    .list-enter {
      opacity: 0;
      transform: scale(1.1);

    }
    .list-leave-to {
      opacity: 0;
      transform: scale(1.2, 0.7);
    }
  }
</style>
