@import "../variables";

@mixin input_validation($type, $color) {
  .form-group,
  .form-group.#{$type} {
    .el-input__inner,
    .el-textarea__inner,
    .el-input-number__decrease:hover,
    .el-input-number__increase:hover,
    .el-message-box__input input.invalid {
      &:focus {
        border-color: $color !important;
      }

      @if ($type == '') {
        color: #565656;
      } @else {
        color: $color;
      }
    }
  }
}

.form-group {
  .el-input__inner{
    @extend .form-control;
  }
  .el-input-number, .el-select, .el-input__inner {
    width: 100%;
  }
}
.form-group.is-invalid {
  .form-control{
    border-color: $danger-color;
  }
}
.custom-select.is-invalid {
  border-color: $danger-color;
}
.form-control.is-invalid {
  border-color: $danger-color;
}
.was-validated {
  .custom-select:invalid, .form-control:invalid {
    border-color: $danger-color;
  }
}

@mixin input-focus($type, $color){
  .form-group {
    &.input-#{$type} {
      input {
        &:focus {
          border-color: $color;
        }
      }
    }
  }
}

.el-select .el-input {
  [readonly] {
    background: #fff;
  }
  &.is-focus {
    .el-input__inner {
      border-color: #AAAAAA;
    }
  }
}

@include input-focus('info', $info-color)
@include input-focus('primary', $primary-color)
@include input-focus('success', $success-color)
@include input-focus('warning', $warning-color)
@include input-focus('danger', $danger-color)
@include input-focus('default', $default-color)
