<template>
    <div id="user-page-tab">
        <vue-tabs @tab-change="handleTabChange" :value="tabValue">
          <v-tab title="Admin"></v-tab>
          <v-tab title="KTU"></v-tab>
          <v-tab title="Guru"></v-tab>
          <v-tab title="Bendahara"></v-tab>
          <v-tab title="Siswa"></v-tab>
          <v-tab title="Orang Tua"></v-tab>
        </vue-tabs>
        <router-view></router-view>
    </div>
</template>

<script>
  import {VTab, VueTabs} from 'vue-nav-tabs'
  import 'vue-nav-tabs/themes/vue-tabs.scss'

  export default {
    components: {
      VueTabs,
      VTab
    },
    data () {
      return {
        tabValue: null,
        dataAccount: this.$store.getters['account/accountData']
      }
    },
    methods: {
      handleTabChange (tabIndex) {
        let url = null
        if (tabIndex === 0) {
          url = '/settings/users/admin'
        } else if (tabIndex === 1) {
          url = '/settings/users/ktu'
        } else if (tabIndex === 2) {
          url = '/settings/users/guru'
        } else if (tabIndex === 3) {
          url = '/settings/users/bendahara'
        } else if (tabIndex === 4) {
          url = '/settings/users/siswa'
        } else {
          url = '/settings/users/orang-tua'
        }
        this.$router.push({path: url})
      }
    }
  }
</script>

<style>
  #user-page-tab .card {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #user-page-tab .vue-tabs .nav-tabs {
    border-bottom: 0 solid #ddd;
  }
</style>
