<template>
  <div>
    <font-awesome-icon v-for="rate in max" :key="rate" icon="star" v-bind:class="{ 'text-warning': rateSum > 2.5, 'text-danger' : rateSum <= 2.5 }"/>
    <font-awesome-icon v-if="hasDecimal" icon="star-half-alt" v-bind:class="{ 'text-warning': rateSum > 2.5, 'text-danger' : rateSum <= 2.5 }"/>
    <font-awesome-icon v-if="rateSum <= 4" v-for="i in 5-(hasDecimal ? max + 1 : max)" :key="'add_' + i" :icon="['far', 'star']" v-bind:class="{ 'text-warning': rateSum > 2.5, 'text-danger' : rateSum <= 2.5 }"/>
  </div>
</template>
<script>
  export default {
    props: {
      rateSum: {
        required: true
      }
    },
    computed: {
      max () {
        return this.rateSum > 5 ? 5 : Math.floor(this.rateSum)
      },
      hasDecimal () {
        return this.rateSum > 5 ? false : this.rateSum % 1 !== 0
      }
    }
  }
</script>
