<template>
  <div id="student-management">
    <b-modal ref="my-modal" centered hide-footer :title="(model.uuid === '' ? 'Add' : 'Edit') + ' Hospital Service'">
      <form v-on:submit.prevent="doSubmit">
        <div>
          <fg-input :required="true" for-input="name" type="text" name="name" id="name" label="Name" placeholder="Enter hospital Service name" v-validate="modelValidations.name" :error="errors.first('name')" v-model="model.name" data-vv-as="name" />
          <fg-input :required="true" for-input="officer" type="text" name="officer" id="officer" label="officer" placeholder="Enter officer name" v-validate="modelValidations.officer" :error="errors.first('officer')" v-model="model.officer" data-vv-as="officer" />
          <b-row>
            <b-col md="4">
              <fg-input label="Open On Holiday">
                <p><l-switch :width="30" v-model="model.openOnHoliday" type="success" :active-value="1" :inactive-value="0"></l-switch></p>
              </fg-input>
            </b-col>
            <b-col md="4">
              <fg-input label="Open On Sturday">
                <p><l-switch :width="30" v-model="model.openOnSaturday" type="success" :active-value="1" :inactive-value="0"></l-switch></p>
              </fg-input>
            </b-col>
            <b-col md="4">
              <fg-input label="Open On Sunday">
                <p><l-switch :width="30" v-model="model.openOnSunday" type="success" :active-value="1" :inactive-value="0"></l-switch></p>
              </fg-input>
            </b-col>
          </b-row>
          <label>Note</label>
          <textarea placeholder="Enter Note" v-model="model.note" class="form-control mb-4" rows="5"></textarea>
          <save-data-button :disabled="saveButtonData.isLoading" :is-create="model.uuid === ''" :state="saveButtonData.isLoading && saveButtonData.state === 1 ? 2 : saveButtonData.state" :is-loading="saveButtonData.isLoading" />
          <b-button variant="warning" class="float-right mr-3" @click="hideModal">Cancel</b-button>
        </div>
      </form>
    </b-modal>
    <card>
      <b-row>
        <b-col cols="10">
          <b-form class="row" v-on:submit.prevent="doFilter">
            <b-col md="3">
              <el-input class="input-primary" placeholder="Filter By Name" clearable v-model="tableFilter.name"/>
            </b-col>
            <b-col md="1">
              <button type="submit" class="btn btn-primary"><font-awesome-icon icon="search"/> Search</button>
            </b-col>
          </b-form>
        </b-col>
        <b-col cols="2" class="text-right">
          <b-button id="show-btn" variant="primary" @click="showModal" title="Add Hospital Service"><font-awesome-icon icon="plus"/></b-button>
        </b-col>
        <b-col cols="12 mb-1">
          <div class="d-flex align-items-center h-100">
            <el-checkbox v-model="fakeTableFilter.is_active">Active Only</el-checkbox>
          </div>
        </b-col>
      </b-row>
      <paginated-table ref="dataTable" :can-delete="false" :active-url="apiUrlUserActive" :param-no-uuid="true" :data-url="apiUrl" :data-key="dataKey" :data-columns="columns" :data-params="['is_active', 'name']">
        <template slot="content_fullName" slot-scope="defaultSlotScope">
          {{defaultSlotScope.rowData.firstName}} {{defaultSlotScope.rowData.lastName}}
        </template>
      </paginated-table>
    </card>
  </div>
</template>
<script>
  import { Input, Checkbox, Switch } from 'element-ui'
  import PaginatedTable from '@/components/Tables/PaginatedTable'
  import SaveData from '@/components/Buttons/SaveData'
  import Cancel from '@/components/Buttons/Cancel'

  export default {
    components: {
      [Input.name]: Input,
      PaginatedTable,
      elCheckbox: Checkbox,
      SaveDataButton: SaveData,
      CancelButton: Cancel,
      LSwitch: Switch
    },
    data () {
      return {
        dataKey: 'profile',
        apiUrl: window.AppConfig.apiUrl + 'profile?role=admin',
        apiUrlUserActive: window.AppConfig.apiUrl + 'profile',
        columns: [
          {
            prop: 'name',
            sortable: true
          },
          {
            prop: 'email',
            sortable: true
          },
          {
            prop: 'isActive',
            label: 'Active',
            minWidth: 20,
            isToggle: true,
            sortable: true
          }
        ],
        fakeTableFilter: {
          is_active: !!this.$route.query.is_active
        },
        tableFilter: {
          is_active: this.$route.query.is_active,
          name: this.$route.query.name
        },
        saveButtonData: {
          isLoading: false,
          state: 1
        },
        model: {
          id: '',
          kode: '',
          name: '',
          isActive: ''
        },
        modelValidations: {
          kode: {
            required: true
          },
          name: {
            required: true
          }
        }
      }
    },
    watch: {
      'fakeTableFilter.is_active' (value) {
        this.tableFilter.is_active = value ? 1 : null
        this.doFilter()
      }
    },
    methods: {
      doFilter () {
        this.$refs.dataTable.doFilter(this.tableFilter)
      },
      showModal () {
        // this.resetData()
        this.$refs['my-modal'].show()
      },
      hideModal () {
        // this.resetData()
        this.$refs['my-modal'].hide()
      }
    },
    mounted () {
      // this.initData().requestCategory()
    }
  }
</script>
