.refresh-modal {
    margin-top: 10px;
    z-index: 11;
    position: absolute;
    background: rgba(255, 255, 255, 0.56);
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    p {
        text-align: center;
        color: $danger-color;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}
.lh-0 {
    line-height: 0px !important;
}
.lh-normal {
    line-height: normal !important;
}
.text-bold {
    font-weight: bold !important;
}
.text-gray {
    color: #606266 !important;
}
tr.black-bg{
    th {
        background: #343a40;
        color: #fff;
        padding: 3px 0 !important;
    }
}

.el-switch__core {
    height: 16px;
}
.el-select {
    width: 100% !important;
}
.el-switch__core::after {
    width: 10px;
    height: 10px;
    left: 4px;
    top: 2px;
}
.el-switch.is-checked .el-switch__core::after {
    margin-left: -14px;
}
.table-actions {
    .btn.detail {
        font-size: 12px;
        padding: 3px 10px;    
    }
    .btn.edit {
        padding: 3px 7px;
        i {
            font-size: 10px;
        }
    }
    .btn.delete {
        font-size: 12px;
        padding: 3px 7px; 
    }
}
.badge {
    padding: 0.4em 0.5em;
}
.badge-warning {
    color: #fff !important;
}
.vue-treeselect__control {
    height: 40px !important;
    border: 1px solid #dcdfe6 !important;
}
// .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
//     padding-left: 0 !important;
//     padding-right: 0 !important;
// }
// .el-table__body > tbody > tr > td {
//     padding-right: 0px !important;
//     padding-left: 0px !important;
// }

@import "table";
@import "table-column";